@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter);
  --color-signature-red: #691716;
  --color-signature-red-hover: #3f0c0b;
}

body {
  background: oklch(96.7% 0.003 264.542) !important;
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

button {
  cursor: pointer;
}
